{% extends 'base.html' %}
<!-- Extend base.html (Child) -->

{% block title %}Login{% endblock %}
<!-- Set title -->

<!-- Block containing login form -->
{% block content %}
<div class="container border w-50 my-3 p-3 shadow-lg align-middle bg-light">
  <h2 style="text-align: center">Log In</h2>
  <form style="text-align: center" class="form-group" method="post">
    {% csrf_token %} {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Log In</button>
  </form>
</div>
{% endblock %}
